<footer id="contact">
    <div class="container">
        <div class="icon">
            <a href="https://www.instagram.com/rnclloyd/" target="_blank" class="sm-icon">
                <mat-icon svgIcon="instagram"></mat-icon>
            </a>
            <a href="https://twitter.com/rnchijada" target="_blank" class="sm-icon">
                <mat-icon svgIcon="twitter"></mat-icon>
            </a>
            <a href="https://www.facebook.com/Rence9395/" target="_blank" class="sm-icon">
                <mat-icon svgIcon="facebook"></mat-icon>
            </a>
            <a href="https://www.tiktok.com/@rncllyd?lang=en" target="_blank" class="sm-icon">
                <mat-icon svgIcon="tiktok"></mat-icon>
            </a>
        </div>
        <a (click)="scrollToTop()" class="social-links">
            <mat-icon class="arrow-up">keyboard_arrow_up</mat-icon>
        </a>
    </div>
</footer>