.container {
    /* background-color: #c89666; */
    padding: 100px 50px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    color: #fff;
}

