.video-container {
    position: relative;
    height: 100%;
    overflow: hidden;

}

#video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
    z-index: 0;
}

.content {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative; /* Ensure content is above the video and overlay */
    z-index: 1; /* Set a higher z-index than the video and overlay */
}